<div class="product-box">
    <div class="product">
        <% if (mark) { %>
        <div class="product__mark product__mark_<%=mark%>">
            <%=markText%>
        </div>
        <% } %>
        <div class="product__img">
            <%- include('../img', {src: img, cx: "img-box" }); %>
        </div>
        <div class="rating-box">
            <div class="rating-box__stars">
                <img src="./img/product-rating-star.svg" alt="">
                <img src="./img/product-rating-star.svg" alt="">
                <img src="./img/product-rating-star.svg" alt="">
                <img src="./img/product-rating-star.svg" alt="">
                <img src="./img/product-rating-star.svg" alt="">
            </div>
            <a href="./" class="rating-box__count">
                1
            </a>
            <a href="./" class="rating-box__icon heart">
                <img src="./img/header-heart-logo.svg" alt="">
            </a>
            <a href="./" class="rating-box__icon">
                <img src="./img/header-connection-logo.svg" alt="">
            </a>
        </div>
        <% if (inStock) { %>
        <div class="product__in-stock">
            В наличии
        </div>
        <% } %>
        <% if (!inStock) { %>
        <div class="product__in-stock product__in-stock_false">
            Нет в наличии
        </div>
        <% } %>
        <a href="./" class="product__name" title="<%=name%>">
            <%=name%>
            <% if (weight) { %>
            <span class="product__name-weight"><%=weight%></span>
            <% } %>
        </a>
        <div class="product__price">
            <div class="product__price-current">
                <%=price%> Р
            </div>
            <div class="product__price-old">
                <%=oldPrice%> Р
            </div>
            <button type="submit" class="product__price-cart">
                <img src="./img/shopping-cart.svg" alt="">
            </button>
        </div>
    </div>
</div>