<!DOCTYPE html>
<html lang="ru">
<%- include('../els/head'); %>

<body>
    <div class="page catalog-page">
        <div class="container">
            <%- include('../components/header/header'); %>
            <%- include('../els/breadcrumbs/breadcrumbs', {
            links: [
                {
                    name: "Главная страница",
                    link: "./"
                },
                {
                    name: "Каталог товаров",
                    link: "./"
                },
            ]
            });  %>
            <%- include('../components/catalog/catalog'); %>
            <%- include('../components/description/description'); %>
        </div>
        <%- include('../components/footer/footer'); %>