<!DOCTYPE html>
<html lang="ru">
<%- include('../els/head'); %>

<body>
    <div class="page main-page">
        <div class="container">
            <%- include('../components/header/header'); %>
            <%- include('../components/main-menu-grid/main-menu-grid',{banner: true}); %>
            <%- include('../components/cat-menu/cat-menu'); %>
            <%- include('../components/newProducts/newProducts'); %>
            <%- include('../components/help-info/help-info'); %>
            <%- include('../components/interestingProducts/interestingProducts'); %>
            <%- include('../components/description/description'); %>
        </div>
        <%- include('../components/footer/footer'); %>