<!DOCTYPE html>
<html lang="ru">
<%- include('../els/head'); %>

<body>
    <div class="page order-page">
        <div class="container">
            <%- include('../components/sticky-header/sticky-header'); %>
            <%- include('../components/header/header'); %>
            <%- include('../components/cart-sticky/cart-sticky'); %>
            <%- include('../components/main-menu-grid/main-menu-grid',{banner: false}); %>
            <%- include('../els/breadcrumbs/breadcrumbs', {
            links: [
                {
                    name: "Главная страница",
                    link: "./"
                },
                {
                    name: "Оформление заказа",
                    link: "./"
                },
            ]
        });  %>

            <%- include('../components/order/order'); %>
        </div>
        <%- include('../components/footer/footer'); %>