<!DOCTYPE html>
<html lang="ru">
<%- include('../els/head'); %>

<body>
    <div class="page product-detail-page">
        <div class="container">
            <%- include('../components/header/header'); %>
            <%- include('../components/main-menu-grid/main-menu-grid',{banner: false}); %>
            <%- include('../els/breadcrumbs/breadcrumbs', {
            links: [
                {
                    name: "Главная страница",
                    link: "./"
                },
                {
                    name: "Каталог товаров",
                    link: "./"
                },
                {
                    name: "Товарная категория",
                    link: "./"
                },
                {
                    name: "Страниц товара",
                    link: "./"
                },
            ]
        });  %>
            <%- include('../components/product-detail/product-detail'); %>
            <%- include('../components/productsGrid/productsGrid', {
            title: "Вам будет интересно",
            cssClass: "interesting-products",
            arrayItems: "interestingProducts",
            maxCount: 4
        }); %>
        </div>
        <%- include('../components/footer/footer'); %>